<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf8" />
    
    <style>
        /* HTML5-specific CSS setup */
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
        body{width:auto !important}
    </style>
    
    <link rel="shortcut icon" type="image/x-icon" href="/static/ecles.ico" />
    <link href="/static/cdr-new.css" rel="stylesheet" type="text/css" />
    <link href="/static/accueil.css" rel="stylesheet" type="text/css" />

    <title>Galilée - Annuaire des éclés de Midi-Pyrénées</title>

</head>

<body>

<nav><ul>
    <li><a href="/">Retour à l'accueil</a></li>
    <li><a href="https://galilee.eedf.fr/aide-galilee/">Obtenir de l'aide</a></li>
</ul></nav>

<header>
    <h1>Galilée</h1>
    <p>Annuaire des éclés de Midi-Pyrénées</p>
</header>

<article>
    <p>
        Pour trouver un·e adhérent·e, utilisez la fonction recherche de votre navigateur
        (<kbd>Control+F</kbd> ou <kbd>/</kbd>).
    </p>

    <p>
        Nombre de lignes :  {{ nb_l }}<br />
        Date de génération de l'annuaire : {{ today }}
    </p>

<div id="do">
<table>
<!-- affichage de la première ligne -->
<thead><tr>
{% for col in colaff %}
	<td>{{ col.1 }}</td>
{% endfor %}	
</tr></thead>

<!-- Afficher le tableau contenant les lignes séléctionnées par la recherche -->
{% for lignes in data %}
<tr class="{{ loop.cycle('lign', 'lign1') }}">
{% for col in lignes %}
	<td>
	{% if "@" in col %}<a href="mailto:{{ col }}">
	{% endif %}{{ col }}{% if "@" in col %}
	</a>{% endif %}
	</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</div>

<hr />
</article>

</body>
</html>
